@tailwind base;
@tailwind components;
@tailwind utilities;


*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  place-items: center;
  min-width: 100vw;
  min-height: 100vh;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

#root {
  min-height: 100vh;
  height: 100%;
  width: 100%;
}